.headerChallenge {
    height: 40vh !important;
    @include center;

    background: url(../../assets/background/_3.png) center/cover no-repeat;
    background-position: center 30%;
    opacity: 0.7;
    border-bottom: 10px solid $Textcolor1;

}