.headerChallenge {
    width: 100%;
    height: 40vh !important;
    @include center;


    background: url(../../assets/background/2.jpg) center/cover no-repeat;
    background-position: center 30%;
    opacity: 0.7;
    border-bottom: 10px solid $Textcolor1;

    h2 {

        @media screen and (max-width: 600px) {
            color: $Textcolor2;
            text-transform: capitalize;
            letter-spacing: 10px !important;
            font-size: 2em !important;
            line-height: 100% !important;
        }

        @media screen and (max-width: 400px) {
            color: $Textcolor2;
            text-transform: capitalize;
            letter-spacing: 10px !important;
            font-size: 1.5em !important;
        }
    }
}