.blogContainer {


  display: grid;
  align-items: flex-start;
  grid-template-columns: 1fr 0.3fr;
  gap: 5%;
  margin: 0 auto;
  max-width: 1250px;
  width: 80%;

  z-index: 2;
  padding-bottom: 10%;
}

.banner {
  position: absolute;
  min-height: 150px;
  max-height: 200px;

  width: 100%;
  top: 0;
  left: 0;
  background: url("../../assets/eye.jpeg") center/cover no-repeat;
  background-position: center 20%;
  border-bottom: dotted 5px black;
}

.rootmeBackground {
  background: url("../../assets/rootme/rootme-banner.jpg") center/cover no-repeat;
}

.articleContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1250px;
  width: 100%;
  z-index: 2;
  position: relative;
  overflow: hidden;
  padding: 5%;
  padding-bottom: 20%;

  border-radius: 10px;
  box-shadow: 0 10px 35px 2px rgba(0, 0, 0, 0.15),
    0 5px 15px rgba(0, 0, 0, 0.07), 0 2px 5px -5px rgba(0, 0, 0, 0.1) !important;
  margin-top: -5%;
  background: ivory;
  z-index: 2;
  font-size: 1.2em;
  padding-bottom: 200px;

  h1 {
    margin-top: 200px;
    margin-bottom: 10%;
    text-align: center;
    font-size: 2.5em;
    width: 100%;
  }

  p {
    line-height: 180%;
    font-size: 1.5em;
  }

  h2 {
    text-align: center;
    margin: 5% 0;
  }

  ul {
    li {
      margin-left: 5%;
      padding: 2% 0;
      font-size: 1em;
    }
  }

  .challengeList {
    width: 100%;

    @include center;
    flex-wrap: wrap;



    li {
      border: 2px solid $Textcolor1;
      border-radius: 10%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 2%;
      margin: 2%;
      width: 200px;
      height: 300px;

      img {
        // max-width: 150px;
        object-fit: contain;
        object-position: center;
        // width: 100px;
        height: 100%;
        color: black;
      }
    }
  }

  img {
    display: block;
    width: 100%;
    margin: 5% 0;
    object-fit: cover;
    object-position: center;
  }

  span {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 3% 0;
  }

  .signed {
    padding: 0 10%;
    @include center;
    justify-content: space-around;

    img {
      width: 30%;
    }

    cite {
      font-size: 1em;
      font-style: italic;

      em {
        font-size: 2em;
      }
    }
  }

  .finalArticles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-top: dotted 5px black;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background: $Color2;
    max-height: 200px;





    .socialLink {
      width: 100%;
      text-align: center;

      a {
        font-size: 1.5em;
        padding: 2%;
        color: ivory;
      }
    }

    .disclaimer {
      font-size: 0.8em;
      width: 100%;
      padding: 0 5%;
    }

    .copyright {
      text-align: center;
      color: $Textcolor2;
      //   }
      // }
    }
  }
}


.rootmePresentation {
  position: relative;
  height: 100%;
  overflow: hidden;
}


.copyrightBlog {
  text-align: center;
  color: $Textcolor2;
  z-index: 2;
  font-size: 1em;
  //   }
  // }
}



.blogPage {
  position: relative;
  overflow: hidden;

}

.solution {
  width: 100%;
}