        .banner {
            position: absolute;
            min-height: 150px;
            height: 10%;
            width: 100%;
            top: 0;
            left: 0;
            background: url(../../assets/background/cL5azRftSIGzqpq-McOWxQ.jpg) center/cover;
            border-bottom: dotted 5px black;
        }




        .finalArticles {
            border-top: dotted 5px black;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            background: red;
            min-height: 150px;
            height: 10%;
        }