.lexicalContent {
  padding: 3%;
  border-radius: 10px;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07) !important;
  // filter: drop-shadow((153, 255, 0, 0.5));
  margin-top: 20%;
  transition: 0.3s ease-in-out;
  background: url("../../assets/background/ctf.png") center/cover;
  background-color: $Textcolor2;
  mix-blend-mode: exclusion;
  z-index: 10;
  color: rgb(153, 255, 0);
  border: 0.5px solid rgb(153, 255, 0);
  backdrop-filter: blur(2px);

  @media screen and (max-width: 500px) {
    display: none;
  }

  h2 {
    text-transform: capitalize;
    padding-bottom: 10%;
    font-size: 1.5em;
    text-align: center;
    line-height: 100% !important;

    svg {
      display: none;

      // @media screen and (max-width: 1000px) {
      //   display: block;
      // }
    }

    @media screen and (max-width: 700px) {
      font-size: 1em;
    }

    span {

      // @media screen and (max-width: 1000px) {
      //   display: none;
      // }
    }
  }

  ul {
    transition: 0.3s ease-in-out;
    font-size: 1em;

    // @media screen and (max-width: 1000px) {
    //   display: none;
    // }


    @media screen and (max-width: 700px) {
      font-size: 0.8em;
    }

    li {
      padding-left: 5%;
      padding-bottom: 5%;


      span {
        text-transform: capitalize;
        color: rgb(153, 255, 0);
        transition: 0.2s ease-out;

        &:hover {
          // color: black;
          text-transform: uppercase;
          font-weight: bold;
          text-decoration: none !important;
          text-align: center;
        }
      }

      a {

        &:hover {
          color: white;
          font-weight: bold;
          text-decoration: none !important;
        }
      }
    }

  }
}

.lexicalContentFixed {

  position: fixed;
  top: 20%;
  right: 15%;
  transition: 0.3s ease-in-out;
  margin: 0;
  z-index: 5;

  @media screen and (max-width: 1700px) {
    right: 8%;
  }

  @media screen and (max-width: 1400px) {
    right: 5%;
    // width: 25%;
    padding: 2%;
  }

  @media screen and (max-width: 900px) {
    right: 3%;
    padding: 1%;
    // width: 25%;
  }


}