.homeContainer {
  width: 100%;
  height: 100%;

  .welcome {
    position: relative;
    overflow: hidden;
    @include center;
    flex-direction: column;
    justify-content: space-between;
    background: url("../../assets/background/1.jpg") center/cover;
    height: 100svh;
    padding: 50svh 0 5% 0;
    border-bottom: 10px solid $Textcolor1;


    h1 {
      color: $Textcolor2;
      font-size: 5em;
      text-transform: uppercase;
      letter-spacing: 20px;

      @media screen and (max-width: 600px) {
        font-size: 3em;
      }

      @media screen and (max-width: 400px) {
        font-size: 2em;
      }
    }

    //button effect

    .link {
      width: 100%;
      @include center;
      // justify-content: space-evenly;
      // margin: 3%;
      // padding: 1% 3%;

      a {
        font-size: 1.3em;
        font-weight: bold;
        margin: 0 5svw;

      }

      //bouttons effects

      .button {
        // width: 200px;

        @media screen and (max-width: 500px) {
          width: 100px;
          font-size: 0.8em;
          padding: 12px 10px;

        }

        display: inline-block;
        text-align: center;
        vertical-align: middle;
        padding: 12px 40px;
        border: 1px solid #b3b3b3;
        border-radius: 100px;
        background: transparent;
        backdrop-filter: blur(5px);

        -webkit-box-shadow: $Textcolor2 0px 0px 40px 0px;
        -moz-box-shadow: $Textcolor2 0px 0px 40px 0px;
        box-shadow: $Textcolor2 0px 0px 40px 0px;

        font: normal normal bold 28px arial;

        text-decoration: none;
        transition: 0.3s ease-in-out;
        color: $Textcolor2;
        letter-spacing: 3px;
        overflow: hidden;
        z-index: -1;

        &:hover:after {
          width: 100%;
          left: 0;
        }

        &:after {
          border-radius: 100px;
          transition: 0.3s ease-in-out;

          position: absolute;
          content: "";
          width: 0;
          height: 100%;
          top: 0;
          z-index: -1;
          -moz-box-shadow: $Textcolor2 0px 0px 40px 0px;
          background-color: $Textcolor1;
          right: 0;
        }

        &:active {
          top: 2px;
        }
      }
    }

    .socialLink {
      width: 100%;
      z-index: 1;

      a {
        margin: 0 2%;
        color: $Textcolor2;
        transition: 0.3s ease-in-out;
        font-size: 3em;

        @media screen and (max-width: 1000px) {
          color: $Textcolor1;
          font-size: 2em;

        }


        &:hover {
          color: $Textcolor1;
          text-decoration: none;
          cursor: pointer;
          transform: rotate(360deg) !important;

          @media screen and (max-width: 1000px) {
            color: $Color2;

          }
        }
      }
    }
  }

}

.homeArticles {
  position: relative;
  top: 0;
  left: 0;
  border-top: 2px solid $Textcolor2;
  height: 100%;




  h2 {
    // height: 500px;
    color: $Textcolor2;
    margin: 5% 0;
    z-index: 1;

    @media screen and (max-width:600px) {
      font-size: 2em;
    }

    @media screen and (max-width:400px) {
      font-size: 1.5em;
    }
  }

  @include center;
  flex-direction: column;
  padding: 0 10%;
  // overflow: hidden;

  @media screen and (max-width:500px) {
    padding: 0;
  }

  .homeArticlesContainer {
    z-index: 1;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 10%;
    width: 100%;
    height: 100%;
    margin-bottom: 25%;
    max-width: 1200px;

    @media screen and (max-width:1400px) {
      margin-bottom: 35%;
    }

    @media screen and (max-width:900px) {
      @include center;
      flex-wrap: wrap;
      margin-bottom: 5%;
    }

    .homeCardArticle {
      @include center;
      justify-content: space-between;
      flex-direction: column;
      border: 1px solid black;
      border-radius: 10%;
      overflow: hidden;
      // padding: 5%;
      width: 300px;
      height: 400px;

      background: $Textcolor2;
      border-radius: 20px;
      box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1),
        0 5px 15px $Textcolor1(0, 0, 0, 0.07) !important;

      // box-shadow: 3px 3px 8px 2px rgba(255, 255, 255, 0.96);

      h3 {
        font-size: 1.5em;

        @media screen and (max-width:900px) {

          font-size: 1em;
        }
      }

      .missionAcomplished {
        // background: url("../../assets/missionAccomplished.jpg") center/contain no-repeat;
        background: url("../../assets/missionComplite.jpg") center/contain no-repeat;

        width: 100%;
        height: 100%;
      }

      .workInProgress {
        background: url("../../assets/workInProgress.jpg") center/contain no-repeat;

        width: 100%;
        height: 100%;
      }


      @media screen and (max-width:900px) {

        margin-bottom: 10%;
      }

      @media screen and (max-width:500px) {
        height: 300px;
        width: 250px;
      }



      .homeBannerArticle {
        min-height: 100px;
        width: 100%;

        @media screen and (max-width:500px) {
          min-height: auto;
          height: 150px;

        }

      }

      .homeDescriptionArticle {
        font-weight: bold;
        color: $Textcolor1;
        // margin-top: 1%;


        p {
          @media screen and (max-width:900px) {

            font-size: 0.8em;
          }
        }

      }

      .homeLinkArticle {
        padding-bottom: 2%;
      }
    }
  }
}


yo {
  position: absolute !important;

}


.tsparticlestwo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-top: 10px solid $Textcolor2;

}

.terminal {
  // background: url("../../assets/background/carbon.png") center/cover;
  // width: 80%;
  // height: 30svh;

  z-index: 2;
  margin-top: 3%;
  opacity: 0.9;

  img {
    width: 80%;

    @media screen and (max-width:1000px) {
      width: 100%;
    }
  }
}